.cohorts{
    width: 100%;
    background-color: var(--primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.workable-cohorts{
    padding: 60px 0px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.cohort-hero-sup{
    font-size: 50px;
    font-weight: 600;
}
.cohort-hero-sub{
    font-size: 18px;
    opacity: 0.8;
}
.cohorts-panel{
    display: flex;
    gap : 20px;
    flex-wrap: wrap;
}
.panel{
    flex: 1;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.cohort-img{
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
}
.cohort-sup{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
.cohort-sub{
    font-size: 14px;
    opacity: 0.7    ;
}
.cost-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px
}
.cost{
    font-weight: 600;
    font-size: 25px;
}
.costly{
    text-decoration: line-through;
    opacity: 0.8;
    font-weight: 300;
    font-size: 20px;
    margin-left: 5px;
}
.select-currency{
    padding: 4px 10px;
    background-color: #fff;
    font-size: 15px;
    border: rgb(0, 0, 0, 0.2) 1px solid;
    border-radius: 5px;
}
.details{
    width: 100%;
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
}
.panel-half{
    width: 100%;
}
.panel-raw1{
    display: flex;
    gap: 20px;
}