.faq{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #e5e5e5;
    color: #263356;
}
.workable-faq{
    width: 70%;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.faq-head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.faq-head-sup{
    font-size: 50px;
    font-weight: 600;
}
.faq-head-sub{
    opacity: 0.7;
}

summary{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 20px 0px;
        font-size: 18px;
}.icon{
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;
    padding: 3px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbdbdb;
}
.answer{
    margin-top: 10px;
    padding-left: 10px;
}