:root{
    --primary: #001959;
}

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 2px 4px rgb(0,0,0,0.2);

}
.workable-nav {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.x{
    color: red;
}
.logo-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    font-size: 14px;
}
.logo{
    font-weight: 600;
    font-size: large;
}
a{
    color: black;
    text-decoration: none;
}
.profile-section{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.search-bar{
    width: 200px;
    height: 30px;
    padding-left: 35px;
    border-radius: 8px;
    border: rgba(128, 128, 128, 0.368) 1px solid;
    box-shadow: 0 1px 2px rgb(0,0,0,0.1);
}
.search{
  position: relative;
}
.search-icon{
    position: absolute;
    left :10px;
    top: 25%;
}
button{
    padding: 8px 30px;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 0 1px 2px rgb(0,0,0,0.1);

}
.signup{
    background-color: white;
}
.login{
    background-color: var(--primary);
    color: white;
}   
