:root {
  --black: #1c1c1c;
  --white: #ffffff;
  --btn: #6e6e6e;
  --accent: #b9b4b0;
}
body {
  min-height: 100vh;
  display: flex;
  margin: 0px;
  padding: 0px;
}
.parts {
  flex: 1;
  min-height: 100vh;
  display: flex;
}
#black {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 60px;
  max-width: 50%;
}
#white {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50%;
}
ul {
  list-style: none;
  padding: 0;
  font-size: large;
  padding-left: 0;
}
li {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 10px;
}

svg{
    margin-top: 3px;
    height: 25px;
    width: auto;
}
img{
    
}
.icons{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
}
.star{
    height: 20px;
    width: 20px;
}
.cred{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
input{
  color: #747371;
  padding-left: 15px;
  width: 500px;
  height: 40px;
  border: var(--accent) solid 1px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
}
button{
  background-color: var(--btn);
  color: white;
  font-size: 16px;
  padding: 10px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.bar{
  border-bottom: #c5c5c5 4px solid;
  border-radius: 4px;
  margin: 0px 5px;
  flex:1;
}
#fuu{
border-bottom: #6e6e6e 4px solid;
  border-radius: 4px;
  margin: 0px 5px;
}
#hero{
  font-size: x-large;
  font-weight: 700;
  cursor: pointer;
}
#hero:hover{
  color: #6e6e6e;
}